.tweetcard {
    width: 800px; 
    height: 250px;
}

@media only screen and (max-width: 600px) {
    .tweetcard {
        width: 400px; 
        height: auto;
    }

    .image {
        width: 100px;
        height: auto;
    }
}